# /etc/systemd/system/rtc.service
[Unit]
Description=Prepare Hardware Clock
Before=chronyd.service rsyslog.service network.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c "/bin/echo '{{ rtc_param[rtcQ.rtc_type].name }} {{ rtc_param[rtcQ.rtc_type].i2c_addr }}' > /sys/class/i2c-adapter/i2c-1/new_device; /bin/sleep {{ wait_time[ansible_architecture] }}"
ExecStart=/sbin/hwclock -s
ExecStop=/sbin/hwclock -w
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
